<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users form</title>
</head>
<body>
    <table cellpadding="5px" style="background-color: aqua;" border="1px solid">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>City</th>
          <th>Profession</th>
        </tr>
          <%users.forEach((user)=>{%>
              <tr>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.age%></td>
                <td><%=user.city%></td>
                <td><%=user.profession%></td>
              </tr>
          <%})%>
      </table>
      <a href="./form" style="text-decoration: none;" >Click to add new user</a>
      
</body>
</html>